// <Section> classes

.main {
	--section-max-width: 100%;
	isolation: isolate;
	display: grid;
	position: relative;
	overflow: hidden;
}

.inner {
	--section-inner-min-height: 100%;
	display: grid;
	place-items: var(--place-items, center);
	align-items: var(--align-items, center);
	color: inherit;
	gap: 1rem;
}

.hero__title {
	--heading-case: uppercase;
	&--center {
		--heading-align: center;
	}
	&--right {
		text-align: right;
	}
}

.hero__container {
	width: 100%;
	display: grid;
	gap: 1rem;
	margin-bottom: 1rem
}

.hero__desc {
	@include h4;
}

.hero__down {
	position: absolute;
	bottom: 1rem;
	opacity: .6;
	animation: jump 1.5s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}