.module {
	display: grid;
	gap: 3rem;
	@media (min-width: $breakpoint-min-md) {
		grid-template-columns: var(--image-grid-template-columns, 1fr 1fr);
	}
	@media (max-width: $breakpoint-max-md) {
		&[data-order="content-first"] {
			.module__image {
				order: 1;
			}
			.module__content {
				order: 2;
			}
		}
	}

	&__image {
		&[data-orientation="vertical"] {
			img {
				aspect-ratio: 3/4;
				object-fit: cover;
				border: 1px solid #ffffff18;
				max-height: 650px;
			}
		}
	}
	blockquote {
		margin-left: 0;
		padding: .5rem;
		font-size: 1.3rem;
		line-height: 1.2;
		p {
			position: relative;
			margin: 0;
			&:before,
			&:after {
				font-size: 2rem;
				position: absolute;
				line-height: 0.1;
				line-height: 1;
				font-family: serif;
			}
			&:before {
				content: var(--_open-quote, open-quote);
				top: var(--_top-quote, -4px);
				left: var(--_left-quote, -1.2rem);
				[lang="fr"] & {
					--_open-quote: "«";
					--_top-quote: -20px;
					--_left-quote: -32px;
				}

			}
			&:after {
				content: var(--_close-quote, close-quote);
				bottom: var(--_bottom-quote, -.5rem);
				margin-left: 3px;
				[lang="fr"] & {
					--_close-quote: "»";
					--_bottom-quote: -18px;
				}
			}
		}
	}
}