/* ==========================================================================
    Footer
========================================================================== */

.footer {
	&__fineprint {
		@include ui-meta;
	}
	&__content {
		display: grid;
		gap: var(--footer-content-gap, 1rem);
		@media (max-width: $medium) {
			--footer-content-gap: 2rem;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__nav {
		display: flex;
		gap: 1rem;
		font-size: rem(12px);
		text-transform: uppercase;
		font-weight: var(--font-bold);
		letter-spacing: 1.8px;
		> * {
			text-align: center;
			height: inherit;
			align-items: center;

			border-left: 1px solid #fff;
			padding-left: 1rem;
		}
		> :first-child {
			border-left: 0;
		}
	}
}

.link {
	span {
		line-height: 1.2;
		&:before {
			--link-line-color: var(--color-sunwing);
			top: calc(100% - 8px);
			@media (max-width: $medium) {
				[lang="fr"] & {
					top: calc(100% - 1rem);
				}
			}
		}
	}
	&__active {
		--link-line: 3px;
		font-weight: var(--font-black);
		span:before {
			border-bottom-color: var(--color-sunwing);
		}
	}
}

// <Section> classes
.main {
	--section-min-height: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex: 0 0 auto;
}
