.modal {
  // --body-text-color: var(--color-black);
  max-width: var(--modal-max-width);
  border-radius: var(--modal-border-radius);
  opacity: 0;
  transform: scaleY(0) translateX(-100%);

  &__close {
    @include closeButton;
		line-height: 0;
		opacity: 0;
		transform: scale(0.01);
  }

  &__inner {
    padding: var(--modal-padding);
    opacity: 0;
  }

	width: 100%;
	height: 100%;

	.container {
		position: relative;
		width: 100%;
	 	padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
		/* padding-bottom:74.8%; 4:3 Aspect Ratio */
	}
	&__inner {
		position:  absolute;
		inset: 0;
		padding: 0;
	}
}

