@use 'styles/breakpoints' as bp;
.social {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
  @media (max-width: bp.$breakpoint-max-md) {
    gap: var(--spacing-6);
    svg {
      font-size: var(--spacing-6);
    }
  }
}
