.section {
	background-color: var(--bgr-section-color);
  padding: var(--section-padding, calc(var(--padding-desktop)*3) var(--padding-desktop));
  min-height: var(--section-min-height);
  @media (max-width: $breakpoint-max-md) {
    --section-padding: var(--padding-mobile);
  }
  &__inner {
    margin-left: auto;
    margin-right: var(--section-ml, auto);
    max-width: var(--_section-max-width, var(--page-max-width));
    min-height: var(--section-inner-min-height, inherit);
		text-align: var(--section-text-align);
		width: 100%;
  }
	&__heading {
		--heading-bottom: 1rem;
		--heading-color: var(--color-highlight);
		padding-top: 2rem;
		opacity: .7;

	}

  // Full width
  &--full-width {
    --section-padding: 0;
		--_section-max-width: 100%;
  }

	&--quarter-height {
		--section-min-height: 25dvh;
	}
	&--half-height {
		--section-min-height: 50dvh;
	}
	&--full-height {
		--section-min-height: 100dvh;
	}

	&__image {
		position: var(--section-image-position, absolute);
    inset: 0;
    overflow: hidden;
		isolation: isolate;
		z-index: -1;
		&__img {
			height: 100%;
			object-fit: var(--section-image-fit, cover);
			object-position: var(--_image-object-position, center);
			width: 100%;
		}
		&:before {
			position: absolute;
			inset: 0;
			content: '';
			background-color: var(--section-image-overlay-color, rgba(0,0,0,0.3));
			z-index: 1;
		}
	}

	// Theme
	&--dark {
		--bgr-section-color: var(--color-blue);
		color: #fff;
		.section__subHeading {
			--heading-color: var(--color-highlight);
		}
		.section__heading {
			--heading-color: inherit;
		}
	}
	&--light {
		.section__heading {
			--heading-color: var(--color-highlight);
		}
		.section__subHeading {
			--heading-color: var(--color-blue);
		}
	}
	&--hero {
		.section__heading {
			--heading-color: var(--color-white);
		}
	}
	&--grey {
		--bgr-section-color: var(--color-lighter-grey);
		.section__heading {
			--heading-color: var(--color-blue);
		}
	}
}

.hero-top {
	--_image-object-position: top;
}
.hero-bottom {
	--_image-object-position: bottom;
}