@use 'styles/typo-mixins' as typo;

@mixin typography {
  .ui-body {
    @include typo.ui-body;
  }

  .ui-caption {
    @include typo.ui-caption;
  }

  .ui-small {
    @include typo.ui-small;
  }

  .heading-large {
    font-size: 24px;
  }

  small {
    font-size: 14px;
  }

  ul,
  ol {
    padding-left: 16px;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .align-center {
    text-align: center;
  }

  .uppercase {
    text-transform: uppercase;
  }
}
