/* Breakpoints
========================================================================== */

$small: 480px;
$smedium: 600px;
$medium: 800px;
$large: 1024px;
$large1: 1280px; // 1280px
$large2: 1440px;
$large3: 1600px;
$xlarge: 1920px;

$padding-desktop: 24px;