@use 'styles/typo-mixins' as typo;

.input {
  --btn-padding-tb: 0.6rem;
  --btn-padding-lr: 0.4rem;
  display: inline-grid;
  gap: 0.2rem;
  width: var(--_input-width);
  min-width: var(--_input-min-width);
  &.full {
    --_input-width: 100%;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid var(--color-grey-border);
    -webkit-text-fill-color: var(--color-black);
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  input {
    background-color: rgba(#fff, 0.1);
    font-family: inherit;
    &:disabled {
      cursor: not-allowed;
      opacity: 1;
    }

    &:focus {
      outline: 1px solid var(--color-blue);
      box-shadow:
        0 1px 4px rgba(0, 0, 0, 0.1),
        0 1px 4px rgba(0, 0, 0, 0.1);
    }
  }
  &:has(&__label) {
    --_input-icon-top: 65%;
    --_clear-top: 65%;
  }
  &:has(&__icon) {
    position: relative;
    .input__control {
      padding-left: 2rem;
    }
  }
  &__icon {
    position: absolute;
    left: var(--spacing-2);
    top: var(--_input-icon-top, 50%);
    transform: translateY(-50%);
  }
  &__control {
    border: 1px solid var(--_input-border, var(--color-grey-border));
    border-radius: var(--_input-border-radius, calc(var(--border-radius) / 2));
    font-size: var(--_input-font-size, var(--ui-caption-font-size));
    padding: var(--btn-padding-tb) var(--btn-padding-lr);
    background-color: var(--_input-bgr, rgba(#fff, 0.1));
    color: inherit;
    width: 100%;
    field-sizing: content;
  }
  &__label {
    @include typo.ui-small;
  }
  &.sm {
    --btn-padding-tb: 0.4rem;
  }
  &.error {
    color: var(--system-error);
  }
  &__error {
    @include typo.ui-small;
  }
  &:has(&__clear) {
    position: relative;
  }
  &__clear {
    position: absolute;
    right: 0.5rem;
    top: var(--_clear-top, 50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
}
